*{
    margin: 0%;
    padding: 0%;
    font-family: sans-serif;
    background-color: #111;
}

.main{
    max-width: 1200px;
    margin:auto;
    overflow: auto;
  
    
}

img{
    width: 100%;
    height: 100%;
}
.images1{
    width: 450px;
    height: 400px;
    position:absolute;
	top: 250%;
	left: 10%;
	transform: translateX(180%);
	bottom: auto;

}
.images2{
    width: 450px;
    height: 400px;
    position:absolute;
	top: 320%;
	left: 10%;
	transform: translateZ(80%);
	bottom: auto;
  
}
.images3{
    width: 400px;
    height: 400px;
    position:absolute;
	top: 395%;
	left: 10%;
	transform: translateX(200%);
	bottom: auto;
}
.images4{
    width: 400px;
    height: 400px;
    position:absolute;
	top: 460%;
	left: 10%;
	transform: translateZ(80%);
	bottom: auto;
}
h4{
    text-align: center;
    color: aliceblue;
}
.text{
	width: 1200px;
    height: auto;
	margin:auto;
	position:absolute;
	top: 125%;
	left: 10%;
	bottom: auto;
	
	bottom: auto;
    color: aliceblue;
}
.text1 ul li{
    width: 800px;
    height: auto;
	margin:auto;
	position:absolute;
	top: 250%;
	left: 10%;
	transform: translateY(80%);
	bottom: auto;
    color: aliceblue;
   
    
}
.text2 ul li{
    width: 800px;
    height: auto;
	margin:auto;
	position:absolute;
	top: 340%;
	left: 10%;
	transform: translateX(70%);
	bottom: auto;
    color: aliceblue;
   
    
}
.text3 ul li{
    width: 800px;
    height: auto;
	margin:auto;
	position:absolute;
	top: 410%;
	left: 10%;
	transform: translateZ(80%);
	bottom: auto;
    color: aliceblue;
   
    
}
.text4 ul li{
    width: 800px;
    height: auto;
	margin: 5px;;
	position:absolute;
	top: 480%;
	left: 10%;
	transform: translateX(70%);
	bottom: auto;
    color: aliceblue;
   
    
}
h2{
	text-align: center;
    color: aliceblue;
	position:absolute;
	top: 110%;
	left: 40%;
	transform: translateY(50%);
	bottom: auto;
	
}
h1{
	text-align: center;
    color: aliceblue;
	position:absolute;
	top: 230%;
	left: 40%;
	transform: translateY(50%);
	bottom: auto;
}

.image{
	margin: 10px;
	border: 1px solid #ccc;
	float: left;
	width: 350px;
	
}

ul li{
 list-style: circle;
}
